<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="container">
<h1>This is my second component</h1>
<p>With an external html file!</p>
<h1>Angular2 tutorial</h1>
<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/d6Dp4Dyeke8"></iframe>
    </div>
    <div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/DBjPIabiRNg"></iframe>
    </div>
</div>
    </body>
    </html>